.App {
  position: relative;
  padding: 0;
  margin: 0;
  background-size: 608px 779px;
  height: 779px;
  background-image: url('/public/ficha.svg');
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}
